<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="css/all.css" />
<link rel="icon" href="images/favicon32.ico"
	mce_href="images/favicon32.ico" type="image/x-icon" />
</head>
<body>
	<h1>Hello Spring Boot</h1>
	<h1>$!key</h1>
</body>
</html>